@charset "UTF-8";

h1,h2,h3{
    margin:0;
    padding:10px 0;
}
body{
    margin:0;
}
div.overlayWrapper{
    
}
div.overlayTarget{
    position:fixed;
    top:0;
    z-index:20;
    display:none;
    background:url('../img/overlay.png');
}

div.overlayMain{
    display:none;
    position:absolute;
    top:0;
    z-index:40;
    background:#fff;
    border:2px solid #ccc;
}

div.overlayMain img{
    margin:0 auto;
    display:block;
    border:2px solid #ccc;
}

div.overlayHeader{
   
}

div.overlayFooter{
   
}
